.icon {
    width: 80px;
}

.serviceDetails {
    margin-top: 50px;
}

.services {
    margin: 90px 0px;
}

.swapBtn {
    color: white;
    border: 1px solid #DA6E04;
    background-color: #DA6E04;
    border-radius: 30px;
    padding: 8px 22px;
}

.box {
    margin: 30px 47px;
    padding: 20px 5px;
    border-radius: 30px;
    background: #292929;
}