.icon {
    width: 80px;
}

.serviceDetails {
    margin-top: 50px;
}

.services {
    margin: 90px 0px;
}

.swapBtn {
    color: white;
    border: 1px solid #DA6E04;
    background-color: #DA6E04;
    border-radius: 30px;
    padding: 8px 22px;
}

.box {
    margin: 30px 47px;
    padding: 30px 10px;
    border-radius: 50px;
background: #328580;
box-shadow: 8px -2px 37px #2b716d, -11px -10px 19px #3a9993
}